acdatafactoryjanfeb/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "acdatafactoryjanfeb"
		},
		"ls_Snowflake_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_Snowflake'",
			"defaultValue": "jdbc:snowflake://pj16937.central-india.azure.snowflakecomputing.com/?user=AAYUSH&db=DECEMBER&warehouse=COMPUTE_WH"
		},
		"ls_adls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://acdatalakejanfeb.dfs.core.windows.net"
		},
		"ls_blob_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'ls_blob'"
		},
		"ls_blob_properties_typeProperties_sasToken_secretName": {
			"type": "string",
			"defaultValue": "blobsastoken"
		},
		"ls_blob_kv_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "blobstring"
		},
		"ls_keyvault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://ackeyvaultjanfeb.vault.azure.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/demo-pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SnowflakeSink",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "ls_blob",
									"type": "LinkedServiceReference"
								},
								"path": "stage"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "RESOURCECLASS",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 2
										},
										"sink": {
											"name": "RESOURCENAME",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 3
										},
										"sink": {
											"name": "IDNUMBER",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 4
										},
										"sink": {
											"name": "PRIMARROJECTROLE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 5
										},
										"sink": {
											"name": "PLANNEDSTARTDATE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 6
										},
										"sink": {
											"name": "PLANNEDENDDATE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 7
										},
										"sink": {
											"name": "RESOURCEPOOL",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 8
										},
										"sink": {
											"name": "PERSONNELSTATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 9
										},
										"sink": {
											"name": "RESOURCESTATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 10
										},
										"sink": {
											"name": "ALLOCATIONPERCENTAGE",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 11
										},
										"sink": {
											"name": "ONSITEOFFSHORE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 12
										},
										"sink": {
											"name": "ASSIGNMENTID",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 13
										},
										"sink": {
											"name": "ASSOCIATEBILLABILITY",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 14
										},
										"sink": {
											"name": "OFFSHOREONSITE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 15
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 16
										},
										"sink": {
											"name": "REASONCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 17
										},
										"sink": {
											"name": "DELIVERYROLE",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "demo_source",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "demo_sink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T10:21:05Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/demo_source')]",
				"[concat(variables('factoryId'), '/datasets/demo_sink')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline-trial')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SnowflakeSink",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "ls_blob",
									"type": "LinkedServiceReference"
								},
								"path": "stage"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "RESOURCECLASS",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 2
										},
										"sink": {
											"name": "RESOURCENAME",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 3
										},
										"sink": {
											"name": "IDNUMBER",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 4
										},
										"sink": {
											"name": "PRIMARROJECTROLE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 5
										},
										"sink": {
											"name": "PLANNEDSTARTDATE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 6
										},
										"sink": {
											"name": "PLANNEDENDDATE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 7
										},
										"sink": {
											"name": "RESOURCEPOOL",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 8
										},
										"sink": {
											"name": "PERSONNELSTATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 9
										},
										"sink": {
											"name": "RESOURCESTATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 10
										},
										"sink": {
											"name": "ALLOCATIONPERCENTAGE",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 11
										},
										"sink": {
											"name": "ONSITEOFFSHORE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 12
										},
										"sink": {
											"name": "ASSIGNMENTID",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 13
										},
										"sink": {
											"name": "ASSOCIATEBILLABILITY",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 14
										},
										"sink": {
											"name": "OFFSHOREONSITE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 15
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 16
										},
										"sink": {
											"name": "REASONCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 17
										},
										"sink": {
											"name": "DELIVERYROLE",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "4thsource",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "4thsink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T10:21:05Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/4thsource')]",
				"[concat(variables('factoryId'), '/datasets/4thsink')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline-trial1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SnowflakeSink",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "ls_blob",
									"type": "LinkedServiceReference"
								},
								"path": "stage"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "RESOURCECLASS",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 2
										},
										"sink": {
											"name": "RESOURCENAME",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 3
										},
										"sink": {
											"name": "IDNUMBER",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 4
										},
										"sink": {
											"name": "PRIMARROJECTROLE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 5
										},
										"sink": {
											"name": "PLANNEDSTARTDATE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 6
										},
										"sink": {
											"name": "PLANNEDENDDATE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 7
										},
										"sink": {
											"name": "RESOURCEPOOL",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 8
										},
										"sink": {
											"name": "PERSONNELSTATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 9
										},
										"sink": {
											"name": "RESOURCESTATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 10
										},
										"sink": {
											"name": "ALLOCATIONPERCENTAGE",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 11
										},
										"sink": {
											"name": "ONSITEOFFSHORE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 12
										},
										"sink": {
											"name": "ASSIGNMENTID",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 13
										},
										"sink": {
											"name": "ASSOCIATEBILLABILITY",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 14
										},
										"sink": {
											"name": "OFFSHOREONSITE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 15
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 16
										},
										"sink": {
											"name": "REASONCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 17
										},
										"sink": {
											"name": "DELIVERYROLE",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "4thsource1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "4thsink1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T10:21:06Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/4thsource1')]",
				"[concat(variables('factoryId'), '/datasets/4thsink1')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data blob to adls",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "source1data",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sink1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data adls to snow",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data blob to adls",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SnowflakeSink",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "ls_blob",
									"type": "LinkedServiceReference"
								},
								"path": "stage"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "RESOURCECLASS",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 2
										},
										"sink": {
											"name": "RESOURCENAME",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 3
										},
										"sink": {
											"name": "IDNUMBER",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 4
										},
										"sink": {
											"name": "PRIMARROJECTROLE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 5
										},
										"sink": {
											"name": "PLANNEDSTARTDATE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 6
										},
										"sink": {
											"name": "PLANNEDENDDATE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 7
										},
										"sink": {
											"name": "RESOURCEPOOL",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 8
										},
										"sink": {
											"name": "PERSONNELSTATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 9
										},
										"sink": {
											"name": "RESOURCESTATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 10
										},
										"sink": {
											"name": "ALLOCATIONPERCENTAGE",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 11
										},
										"sink": {
											"name": "ONSITEOFFSHORE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 12
										},
										"sink": {
											"name": "ASSIGNMENTID",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 13
										},
										"sink": {
											"name": "ASSOCIATEBILLABILITY",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 14
										},
										"sink": {
											"name": "OFFSHOREONSITE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 15
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 16
										},
										"sink": {
											"name": "REASONCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 17
										},
										"sink": {
											"name": "DELIVERYROLE",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "source2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sink2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T10:21:05Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/source1data')]",
				"[concat(variables('factoryId'), '/datasets/sink1')]",
				"[concat(variables('factoryId'), '/datasets/source2')]",
				"[concat(variables('factoryId'), '/datasets/sink2')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data adls to snow",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SnowflakeSink",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "ls_blob",
									"type": "LinkedServiceReference"
								},
								"path": "stage"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "RESOURCECLASS",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 2
										},
										"sink": {
											"name": "RESOURCENAME",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 3
										},
										"sink": {
											"name": "IDNUMBER",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 4
										},
										"sink": {
											"name": "PRIMARROJECTROLE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 5
										},
										"sink": {
											"name": "PLANNEDSTARTDATE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 6
										},
										"sink": {
											"name": "PLANNEDENDDATE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 7
										},
										"sink": {
											"name": "RESOURCEPOOL",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 8
										},
										"sink": {
											"name": "PERSONNELSTATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 9
										},
										"sink": {
											"name": "RESOURCESTATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 10
										},
										"sink": {
											"name": "ALLOCATIONPERCENTAGE",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 11
										},
										"sink": {
											"name": "ONSITEOFFSHORE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 12
										},
										"sink": {
											"name": "ASSIGNMENTID",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 13
										},
										"sink": {
											"name": "ASSOCIATEBILLABILITY",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 14
										},
										"sink": {
											"name": "OFFSHOREONSITE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 15
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 16
										},
										"sink": {
											"name": "REASONCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 17
										},
										"sink": {
											"name": "DELIVERYROLE",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "2ndpipesource",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "2ndpipesink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T10:21:07Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/2ndpipesource')]",
				"[concat(variables('factoryId'), '/datasets/2ndpipesink')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SnowflakeSink",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "ls_blob",
									"type": "LinkedServiceReference"
								},
								"path": "stage"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "RESOURCECLASS",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 2
										},
										"sink": {
											"name": "RESOURCENAME",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 3
										},
										"sink": {
											"name": "IDNUMBER",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 4
										},
										"sink": {
											"name": "PRIMARROJECTROLE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 5
										},
										"sink": {
											"name": "PLANNEDSTARTDATE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 6
										},
										"sink": {
											"name": "PLANNEDENDDATE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 7
										},
										"sink": {
											"name": "RESOURCEPOOL",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 8
										},
										"sink": {
											"name": "PERSONNELSTATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 9
										},
										"sink": {
											"name": "RESOURCESTATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 10
										},
										"sink": {
											"name": "ALLOCATIONPERCENTAGE",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 11
										},
										"sink": {
											"name": "ONSITEOFFSHORE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 12
										},
										"sink": {
											"name": "ASSIGNMENTID",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 13
										},
										"sink": {
											"name": "ASSOCIATEBILLABILITY",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 14
										},
										"sink": {
											"name": "OFFSHOREONSITE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 15
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 16
										},
										"sink": {
											"name": "REASONCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 17
										},
										"sink": {
											"name": "DELIVERYROLE",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "3rdsorce",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "3rdsink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T10:21:06Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/3rdsorce')]",
				"[concat(variables('factoryId'), '/datasets/3rdsink')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/1stsink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_Snowflake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [
					{
						"name": "RESOURCECLASS",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "RESOURCENAME",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "IDNUMBER",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "PRIMARROJECTROLE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "PLANNEDSTARTDATE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "PLANNEDENDDATE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "RESOURCEPOOL",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "PERSONNELSTATUS",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "RESOURCESTATUS",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "ALLOCATIONPERCENTAGE",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "ONSITEOFFSHORE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "ASSIGNMENTID",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "ASSOCIATEBILLABILITY",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "OFFSHOREONSITE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "DESCRIPTION",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "REASONCODE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "DELIVERYROLE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "AAYUSH",
					"table": "TEMPLATEDEMO"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_Snowflake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/1stsource')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "resourcedata.xlsx.txt",
						"fileSystem": "traildata1"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Labor",
						"type": "String"
					},
					{
						"name": "Rishikesh Rotiwar",
						"type": "String"
					},
					{
						"name": "104228",
						"type": "String"
					},
					{
						"name": "DIRECTOR",
						"type": "String"
					},
					{
						"name": "2022-10-10",
						"type": "String"
					},
					{
						"name": "12/31/2022",
						"type": "String"
					},
					{
						"name": "AIM-TSG Pool",
						"type": "String"
					},
					{
						"name": "Employee",
						"type": "String"
					},
					{
						"name": "Committed",
						"type": "String"
					},
					{
						"name": "10",
						"type": "String"
					},
					{
						"name": "ON",
						"type": "String"
					},
					{
						"name": "12187420",
						"type": "String"
					},
					{
						"name": "Yes",
						"type": "String"
					},
					{
						"name": "Onsite",
						"type": "String"
					},
					{
						"name": "Buffalo Grove - IL USA, CLT",
						"type": "String"
					},
					{
						"name": "No Location Change",
						"type": "String"
					},
					{
						"name": "XPP117",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/2ndpipesink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_Snowflake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [
					{
						"name": "RESOURCECLASS",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "RESOURCENAME",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "IDNUMBER",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "PRIMARROJECTROLE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "PLANNEDSTARTDATE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "PLANNEDENDDATE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "RESOURCEPOOL",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "PERSONNELSTATUS",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "RESOURCESTATUS",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "ALLOCATIONPERCENTAGE",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "ONSITEOFFSHORE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "ASSIGNMENTID",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "ASSOCIATEBILLABILITY",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "OFFSHOREONSITE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "DESCRIPTION",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "REASONCODE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "DELIVERYROLE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "AAYUSH",
					"table": "AAYUSHTABLE2"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_Snowflake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/2ndpipesource')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "resourcedata.xlsx.txt",
						"fileSystem": "traildata1"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/3rdsink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_Snowflake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [
					{
						"name": "RESOURCECLASS",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "RESOURCENAME",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "IDNUMBER",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "PRIMARROJECTROLE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "PLANNEDSTARTDATE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "PLANNEDENDDATE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "RESOURCEPOOL",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "PERSONNELSTATUS",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "RESOURCESTATUS",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "ALLOCATIONPERCENTAGE",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "ONSITEOFFSHORE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "ASSIGNMENTID",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "ASSOCIATEBILLABILITY",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "OFFSHOREONSITE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "DESCRIPTION",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "REASONCODE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "DELIVERYROLE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "AAYUSH",
					"table": "AAYUSHGITTRIAL2"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_Snowflake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/3rdsorce')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "resourcedata.xlsx.txt",
						"fileSystem": "traildata1"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/4thsink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_Snowflake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [
					{
						"name": "RESOURCECLASS",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "RESOURCENAME",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "IDNUMBER",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "PRIMARROJECTROLE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "PLANNEDSTARTDATE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "PLANNEDENDDATE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "RESOURCEPOOL",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "PERSONNELSTATUS",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "RESOURCESTATUS",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "ALLOCATIONPERCENTAGE",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "ONSITEOFFSHORE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "ASSIGNMENTID",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "ASSOCIATEBILLABILITY",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "OFFSHOREONSITE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "DESCRIPTION",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "REASONCODE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "DELIVERYROLE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "AAYUSH",
					"table": "TEMPLATEDEMO"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_Snowflake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/4thsink1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_Snowflake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [
					{
						"name": "RESOURCECLASS",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "RESOURCENAME",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "IDNUMBER",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "PRIMARROJECTROLE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "PLANNEDSTARTDATE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "PLANNEDENDDATE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "RESOURCEPOOL",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "PERSONNELSTATUS",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "RESOURCESTATUS",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "ALLOCATIONPERCENTAGE",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "ONSITEOFFSHORE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "ASSIGNMENTID",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "ASSOCIATEBILLABILITY",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "OFFSHOREONSITE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "DESCRIPTION",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "REASONCODE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "DELIVERYROLE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "AAYUSH",
					"table": "TEMPLATEDEMO"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_Snowflake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/4thsource')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "resourcedata.xlsx.txt",
						"fileSystem": "traildata1"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/4thsource1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "resourcedata.xlsx.txt",
						"fileSystem": "traildata1"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/demo_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_Snowflake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [
					{
						"name": "RESOURCECLASS",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "RESOURCENAME",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "IDNUMBER",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "PRIMARROJECTROLE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "PLANNEDSTARTDATE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "PLANNEDENDDATE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "RESOURCEPOOL",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "PERSONNELSTATUS",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "RESOURCESTATUS",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "ALLOCATIONPERCENTAGE",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "ONSITEOFFSHORE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "ASSIGNMENTID",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "ASSOCIATEBILLABILITY",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "OFFSHOREONSITE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "DESCRIPTION",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "REASONCODE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "DELIVERYROLE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "AAYUSH",
					"table": "TEMPLATEDEMO"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_Snowflake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/demo_source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "resourcedata.xlsx.txt",
						"fileSystem": "traildata1"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sink1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "interdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sink2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_Snowflake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [
					{
						"name": "RESOURCECLASS",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "RESOURCENAME",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "IDNUMBER",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "PRIMARROJECTROLE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "PLANNEDSTARTDATE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "PLANNEDENDDATE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "RESOURCEPOOL",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "PERSONNELSTATUS",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "RESOURCESTATUS",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "ALLOCATIONPERCENTAGE",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "ONSITEOFFSHORE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "ASSIGNMENTID",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "ASSOCIATEBILLABILITY",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "OFFSHOREONSITE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "DESCRIPTION",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "REASONCODE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					},
					{
						"name": "DELIVERYROLE",
						"type": "VARCHAR",
						"precision": 40,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "AAYUSH",
					"table": "AAYUSHTABLE"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_Snowflake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/source1data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "resourcedata.xlsx",
						"container": "data"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "Resource Class",
						"type": "String"
					},
					{
						"name": "Resource Name",
						"type": "String"
					},
					{
						"name": "ID Number",
						"type": "String"
					},
					{
						"name": "Primary Project Role",
						"type": "String"
					},
					{
						"name": "Planned Start Date",
						"type": "String"
					},
					{
						"name": "Planned End Date",
						"type": "String"
					},
					{
						"name": "Resource Pool",
						"type": "String"
					},
					{
						"name": "Personnel Status",
						"type": "String"
					},
					{
						"name": "Resource Status",
						"type": "String"
					},
					{
						"name": "Allocation Percentage",
						"type": "String"
					},
					{
						"name": "Onsite\\Offshore",
						"type": "String"
					},
					{
						"name": "Assignment ID",
						"type": "String"
					},
					{
						"name": "Associate Billability",
						"type": "String"
					},
					{
						"name": "Offshore / Onsite",
						"type": "String"
					},
					{
						"name": "Description",
						"type": "String"
					},
					{
						"name": "Reason Code",
						"type": "String"
					},
					{
						"name": "Delivery Role",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/source2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "resourcedata.xlsx.txt",
						"fileSystem": "interdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_Snowflake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Snowflake",
				"typeProperties": {
					"authenticationType": "Basic",
					"connectionString": "[parameters('ls_Snowflake_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_keyvault",
							"type": "LinkedServiceReference"
						},
						"secretName": "snowpass"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_keyvault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_keyvault",
							"type": "LinkedServiceReference"
						},
						"secretName": "adlspass"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_keyvault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_blob')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('ls_blob_sasUri')]",
					"sasToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_keyvault",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('ls_blob_properties_typeProperties_sasToken_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_keyvault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_blob_kv')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_keyvault",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('ls_blob_kv_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_keyvault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_keyvault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_keyvault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		}
	]
}